/* Untuk Laptop */
@media all and (max-width: 2000px) {
  .lesson {
    margin-bottom: 50px;
  }

  .container {
    padding: 0px 15px;
  }

  .top-wrapper h1 {
    font-size: 80px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 60px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
    height: 400px;
    width: 100%;
  }

  .top-wrapper {
    text-align: center;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
