* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
  font-weight: lighter;
  opacity: 0.7;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.top-wrapper span {
  color: rgb(255, 234, 0);
}

.top-wrapper img {
  height: 200px;
  align-items: center;
}

header {
  height: 65px;
  width: 100%;
  background-color: #404146;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  font-size: large;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  padding: 5px 0px;
}

.header-right {
  float: left;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  text-align: center;
}

.lesson {
  flex: auto;
  justify-content: space-evenly;
  float: right;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img {
  height: 200px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.bio-wrapper {
  padding: 40px 5%;
  background-color: #f4f4f4;
  text-align-last: center;
  justify-content: center;
}

input,
textarea {
  width: 350px;
  margin: 10px 0px 30px 0px;
  border-radius: 5px;
  border: 1px solid #dee7ec;
  padding: 15px;
}

.contact-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 100px 0px;
}

.section-title {
  text-align: center;
}

.contact-submit {
  width: 300px;
  margin: auto;
  display: block;
  text-align: center;
  background-color: #f7e989;
}

footer {
  background-color: #7c7d82;
  padding: 40px;
  height: 200px;
  color: white;
}

li {
  list-style: none;
}

.footer-left {
  float: left;
  letter-spacing: 5px;
}

.footer-right {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
